<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grade add</title>
    <style>
        td{
            border: 1px solid red;
        }
    </style>
</head>
<body>

<ul>
    <li>
        <a th:href="@{/student}">Lista</a>
    </li>
    <li>
        <a th:href="@{/student/add}">Dodaj</a>
    </li>
</ul>

<!-- @{/student/add} Adres metody addStudent -->
<form th:action="@{/grade/add}" method="post" th:object="${newGrade}">
    <input type="number" hidden th:value="${hiddenStudentId}" name="student_id">
    <input type="number" hidden th:field="*{id}">
    <input type="text" readonly th:field="*{localDateTimeAdded}">
    <input type="number" min="2" max="5" step="0.5" th:field="*{gradeValue}">
    <select th:field="*{gradeSubject}">
        <option th:each="przedmiot : ${lista_przedmiotow}" th:text="${przedmiot}" th:value="${przedmiot}"/>
    </select>
    <input type="submit">
</form>

</body>
</html>